
body {
    background: radial-gradient(
        circle at center,
        #2bb3ff 10%,
        #0f4c9c 40%,
        #071a3a 75%,
        #000814 100%
    );
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main-logo img{
    height: 60px;
}

.email .username-input{
    margin-bottom: 20px;
}

.password .password-input{
    margin-bottom: 40px;
}

.login-card {
    border-radius: 15px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.641);
    backdrop-filter: blur(10px);
}

.btn-primary-custom {
    color: white;
    border: none;
    border-radius: 14px;
}

.btn {
    background: linear-gradient(135deg,#182151 11%,#3F7FB6 75%,#010B40 100% );
}

@media (max-width: 426px){
    .login_card{
        padding: 0px 30px 0px 30px;
    }

    .padding_card{
        padding-top: 30px !important;
        padding-bottom: 40px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}